/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Sail */
@import url("https://fonts.googleapis.com/css2?family=Sail&display=swap");
/* Knewave */
@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
.roboto {
  font-family: "Roboto", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.sail {
  font-family: "Sail", cursive !important;
}

.knewave {
  font-family: "Knewave", cursive;
}

.titlered {
  color: rgb(231, 39, 45);
}

.titlegreen {
  color: rgb(137, 183, 88);
}

.navbar {
  background-color: rgb(231, 39, 45);
  height: 5rem;
  transition: all 0.2s ease-in-out;
}

.navbar-after-scroll {
  background-color: black;
  transition: all 0.2s ease-in-out;
}

.navbar-before-scroll .navlogo {
  width: 50px;
  transition: all 0.2s ease-in-out;
}
.navbar-after-scroll .navlogo {
  width: 40px;
  transition: all 0.2s ease-in-out;
}
.navbar-before-scroll .navbar-collapse {
  background-color: rgb(231, 39, 45);
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.navbar-after-scroll .navbar-collapse {
  background-color: black;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.dropdown-menu {
  background-color: black !important;
}
.dropdown-item:hover {
  background-color: white !important;
  color: black !important;
}

.buynowbtn {
  background-color: white !important;
  color: rgb(231, 39, 45) !important;
}
.buynowbtn:hover {
  background-color: white !important;
  color: rgb(251, 190, 54) !important;
}

.jumbotron {
  width: 100%;
  padding-top: 9rem;
  background-color: rgb(231, 39, 45);
  overflow: hidden;
}

.jumbowrap {
  padding-left: 2rem;
  padding-right: 2rem;
}

.content {
  color: white;
}

.holiborder {
  border-color: rgb(251, 190, 54);
}

.title {
  color: rgb(251, 190, 54);
}

.pricetag {
  position: absolute;
  width: 175px;
  height: 175px;
  background-color: rgb(251, 190, 54);
  scale: 130%;
}

.pricewrap {
  margin: auto;
  padding: 30px;
}

.price {
  margin: 0;
  display: inline-block;
}

#price {
  color: rgb(231, 39, 45);
}

.ordernowbtn {
  color: black;
  background-color: rgb(251, 190, 54) !important;
}
.ordernowbtn:hover {
  color: black;
  background-color: rgb(255, 177, 10) !important;
}

.cardinvis {
  background-color: transparent !important;
  border: none !important;
}

.cardmenuhoverup {
  transform: translateY(-5%);
  transition: all 0.3s ease-in-out;
}
.cardmenuhoverbot {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.pizzaimg {
  padding-top: 3rem;
  margin: auto;
  width: 80% !important;
  height: 80% !important;
  z-index: 20;
}

.card-body {
  z-index: 20;
}

.buynow {
  width: 50px;
  height: 50px;
  background-color: rgb(251, 190, 54) !important;
}

.carticon {
  padding: 5px 0;
}

.bodysvg {
  margin-right: 15px;
  position: absolute;
  z-index: 10;
  fill: white;
  stroke: lightgray;
}

.bodysvghover {
  margin-right: 15px;
  position: absolute;
  z-index: 10;
  fill: rgb(231, 39, 45) !important;
  transition: all 0.2s ease-in-out;
}

.parallax {
  background-image: url("parallax.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.freepizza {
  color: rgb(137, 183, 88);
}
.orderparallaxbtn {
  background-color: rgb(137, 183, 88) !important;
}
.orderparallaxbtn:hover {
  color: white;
  background-color: rgb(51, 51, 51) !important;
}

.about {
  text-align: justify;
  overflow: hidden;
}

.getdirectionbtn {
  color: white;
  background-color: rgb(231, 39, 45) !important;
}
.getdirectionbtn:hover {
  color: white;
  background-color: rgb(251, 190, 54) !important;
}

.iconwrap {
  color: rgb(231, 39, 45);
  text-align: center;
}

.aboutimg {
  float: right !important;
  width: 200%;
  position: relative;
  height: auto;
  margin-right: -100% !important;
}

.sideingredient {
  color: rgb(231, 39, 45) !important;
  text-decoration: none;
}

.menuborder {
  border-style: dashed;
  color: gray;
}

.menuprice {
  color: rgb(231, 39, 45);
}

.menudesc {
  color: gray;
}

.orderdeals {
  color: white !important;
  text-decoration: none;
}

.carddeals {
  border: none !important;
}

.carddealshoverup {
  transform: translateY(-5%);
  transition: all 0.3s ease-in-out;
}
.carddealshoverbot {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

#carddeals1 {
  background-color: rgb(231, 39, 45) !important;
}
#carddeals2 {
  background-color: rgb(35, 35, 35) !important;
}
#carddeals3 {
  background-color: rgb(251, 190, 54) !important;
}

.squarebox {
  width: 100%;
  height: 100%;
}

.videowrap {
  padding-top: 150px;
  padding-bottom: 150px;
}

.playbtn {
  width: 75px;
  height: 75px;
}
.playbtn:hover {
  background-color: crimson !important;
  scale: 110%;
  transition: all 0.2s ease-in-out;
}

.iconplay {
  font-size: 45px;
}

.reviewimg {
  background-size: cover;
  object-fit: cover;
  width: 500px;
  height: 500px;
}

.walterwhite {
  background-image: url(img/review/walterwhite.webp);
  background-position: top;
  width: 100%;
}
.jesse {
  background-image: url(img/review/jesse.webp);
  background-position: top;
  width: 100%;
}
.gustavo {
  background-image: url(img/review/gustavo.webp);
  background-position: top;
  width: 100%;
}
.saul {
  background-image: url(img/review/saul.webp);
  background-position: top;
  width: 100%;
}

.team {
  background-color: rgb(231, 39, 45);
}

.teamcard {
  background-color: rgb(255, 244, 226) !important;
}

.teamimg {
  background-size: cover;
  object-fit: cover;
  width: 150px;
  height: 150px;
  margin: auto;
}

.iconbtn {
  width: 50px;
  height: 50px;
}
.iconbtn:hover {
  scale: 110%;
  transition: all 0.2s ease-in-out;
}

.socmedicon {
  text-decoration: none;
  background-color: white;
  color: rgb(231, 39, 45) !important;
}

.sendmsgbtn {
  color: white;
  background-color: rgb(137, 183, 88) !important;
}
.sendmsgbtn:hover {
  color: white;
  background-color: rgb(51, 51, 51) !important;
}
.downloadbtn {
  color: white;
  background-color: rgb(51, 51, 51) !important;
}
.downloadbtn:hover {
  scale: 110%;
  transition: all 0.2s ease-in-out;
}

.footermenu {
  color: white !important;
  text-decoration: none;
}
.footermenu:hover {
  color: rgb(231, 39, 45) !important;
  text-decoration: none;
}
.footericon {
  color: white;
  text-decoration: none;
  background-color: rgb(231, 39, 45);
}

.footerbtn {
  width: 50px;
  height: 50px;
}
.footerbtn:hover {
  scale: 120%;
  transition: all 0.2s ease-in-out;
}

.footlogo:hover {
  rotate: 360deg;
  transition: all 0.5s ease-in-out;
}

.myig {
  text-decoration: none;
  color: rgb(231, 39, 45);
}

@media only screen and (max-width: 1200px) {
  .promoimg {
    padding-top: 30px;
    margin: auto;
  }

  .pricetag {
    position: absolute;
    width: 175px;
    height: 175px;
    background-color: rgb(251, 190, 54);
  }

  .pricewrap {
    margin: auto;
    padding: 35px;
  }

  .mainimg {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .promoimg {
    padding-top: 30px;
  }

  .pricetag {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgb(251, 190, 54);
  }

  .pricewrap {
    margin: auto;
    padding: 30px;
  }

  .cardmenu {
    padding-bottom: 5rem;
  }

  .mainimg {
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  .promoimg {
    padding-top: 30px;
  }

  .pricetag {
    position: absolute;
    width: 125px;
    height: 125px;
    background-color: rgb(251, 190, 54);
  }

  .pricewrap {
    margin: auto;
    padding: 23px;
  }

  .mainimg {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .promoimg {
    padding-top: 30px;
  }

  .pricetag {
    position: absolute;
    width: 125px;
    height: 125px;
    background-color: rgb(251, 190, 54);
  }

  .pricewrap {
    margin: auto;
    padding: 25px;
  }

  .mainimg {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .promoimg {
    padding-top: 30px;
  }

  .pricetag {
    position: absolute;
    width: 125px;
    height: 125px;
    background-color: rgb(251, 190, 54);
  }

  .pricewrap {
    margin: auto;
    padding: 25px;
  }

  .mainimg {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .promoimg {
    margin: auto;
  }

  .pricetag {
    left: 10%;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(251, 190, 54);
  }

  .pricewrap {
    margin: auto;
    padding: 15px;
  }

  .mainimg {
    margin: auto;
    width: 100%;
  }
}
@media only screen and (max-width: 350px) {
  .promoimg {
    margin: auto;
  }

  .pricetag {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(251, 190, 54);
  }

  .pricewrap {
    margin: auto;
    padding: 15px;
  }

  .mainimg {
    margin: auto;
    width: 275px;
  }
}
